<span class="login-status">
    {% if grav.user.username %}
        Welcome <strong>{{ grav.user.username }}</strong>, <a class="logout" href="{{ uri.url }}/task{{ config.system.param_sep }}login.logout">Logout</a>
    {% endif %}
</span>
