{% if grav.messages.all %}
    <div id="messages">
        {% for message in grav.messages.fetch %}

        {% set scope = message.scope|e %}
        {% set type_mapping = {'info':'green', 'error': 'red'} %}
        {% set icon_mapping = {'info':'check', 'error': 'ban'} %}
        {% set type = type_mapping[scope] %}
        {% set icon = icon_mapping[scope] %}

            <div class="notices {{ type }} {{ scope }}"><p>{{ message.message|raw }}</p></div>
        {% endfor %}
    </div>
{% endif %}
